<!DOCTYPE html>
<html>
<head>
  <title>Bloom rates</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "bloom_rates/application", media: "all" %>
  <%= javascript_include_tag "bloom_rates/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
